!!! Strict
%html{ :lang => "en", :"xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", :"http-equiv" => "Content-Type" }
    %meta{ :content => "en", :"http-equiv" => "Content-Language" }
    %title Integrity | The easy and fun automated continuous integration server
    %link{ :media => "screen", :type => "text/css", :href => "/reset.css", :rel => "stylesheet" }
    %link{ :media => "screen", :type => "text/css", :href => "/integrity.css", :rel => "stylesheet" }
    %link{ :media => "screen", :type => "text/css", :href => "/highlighting.css", :rel => "stylesheet" }
    %link{ :href => "http://integrityapp.com/", :rel => "home", :type => "text/html" }
    %script{ :src => "/code_highlighter.js", :type => "text/javascript" }
    %script{ :src => "/ruby.js", :type => "text/javascript" }
    %script{ :src => "/shell.js", :type => "text/javascript" }
  %body
    #header
      %h1 
        %a{ :href => "/", :rel => "home" } Integrity
      %h2<
        the easy and fun automated 
        %strong continuous integration 
        server
    / %ul#nav
    /   %li
    /     %a{ :href => "http://builder.integrityapp.com" } Live Demo
    #content
      = yield

    #footer
      .credits
        Integrity is &copy; 2008
        %a{ :href => "http://nicolassanguinetti.info" } Nicolás Sanguinetti
        and 
        %a{ :href => "http://atonie.org/" } Simon Rozet
      
      .links
        %a{ :href => "http://integrity.lighthouseapp.com/projects/14308-integrity" } Bugs / Support
        |
        %a{ :href => "http://github.com/foca/integrity" } Source Code
    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    :javascript
      try {
      var pageTracker = _gat._getTracker("UA-6377994-1");
      pageTracker._trackPageview();
      } catch(err) {}
