#notifiers
  %h1
    %span Notifiers

  %p
    After a build is finished, you want to know the status
    = succeed "." do
      %strong immediately

    Integrity gives you a modular notification's system for this.

  %p
    With Integrity, you can receive your notifications in a few different ways (don't
    worry, all of these are easy to set up):

  %ul
    %li
      %a{ :href => "http://github.com/foca/integrity-email" } Email
      %cite
        by
        %a{ :href => "http://nicolassanguinetti.info" } Nicolás Sanguinetti
    %li
      %a{ :href => "http://github.com/ph/integrity-jabber" } Jabber
      %cite
        by
        %a{ :href => "http://heykimo.com/" } Pier-Hugues Pellerin
    %li
      %a{ :href => "http://github.com/defunkt/integrity-campfire" } Campfire
      %cite
        by
        %a{ :href => "http://ozmm.org/" } Chris Wanstrath
    %li
      %a{ :href => "http://github.com/sr/integrity-irc" } IRC
      %cite
        by
        %a{ :href => "http://atonie.org" } Simon Rozet
    %li
      %a{ :href => "http://github.com/cwsaylor/integrity-twitter" } Twitter
      %cite
        by
        %a{ :href => "http://justhack.com" } Chris Saylor
    %li
      %a{ :href => "http://github.com/pyrat/integrity-basecamp" } Basecamp
      %cite
        by
        %a{ :href => "http://www.simplyexcited.co.uk/" } Alastair Brunton

#setup
  %h1
    %span Setting up your notifier

  %p
    Also a piece of cake. For example, for email notifications:

  %pre
    %code.shell<
      :preserve
        $ sudo gem sources -a http://gems.github.com
        $ sudo gem install foca-integrity-email

  %p
    And then edit the <code>config.ru</code> file in your integrity install directory:

  %pre
    %code.ruby<
      :preserve
        require "rubygems"
        require "integrity"

        require "notifier/email" # you need to add this line

  %p
    And then restart integrity. That's it. Now you can browse to
    <code>http://integrity.mydomain.com/projects/my_project/edit</code> and configure
    your notifier.

#more
  %h1
    %span More Notifiers

  %p
    If you write a notifier for something else, let us know at
    %a{ :href => "mailto:info@integrityapp.com" } info@integrityapp.com
    and we'll add you here :)
