/* stolen from dan webb */
/* http://danwebb.net   */

/** RUBY / JAVASCRIPT **/
#content code span.comment {
 color: #BD48B3;
}

#content code span.string {
 color: #99FF00;
}

#content code span.brackets {

}

#content code span.symbol {
 color: #6BCFF7;
}

#content code span.keywords {
 color: #FF8400;
}

#content code span.erb {
 background: #333;
}

#content code span.symbol {
      color: #07DFFC;
}

/** HTML **/
code.html span.tag {
 color: #fff;
}

code.html span.attribute {
 color: #FFD500;
}

code.html span.string {
 color: #99FF00;
}

code.html span.comment {
 color: #999;
}

code.html span.doctype {
 color: #D7FF80;
}

/** SHELL **/
code.shell span.comment {
 color: #BD48B3;
}

code.shell span.string, code.shell span.path {
 color: #99FF00;
}

code.shell span.prompt {
 color: #FF8400;
}
